<h1>
  {{title}}
</h1>

<div class="search">
  <form #searchForm="ngForm">

    <input [(ngModel)]="query" #name="ngModel" name="query" required type="search" placeholder="enter text to find">
    <select [(ngModel)]="searchSystem" #search="ngModel" name="search"  required>
      <option selected disabled hidden [value]="undefined">Please Choose...</option>
      <option *ngFor="let searchSys of searchSystemList" [ngValue]="searchSys">{{ searchSys.name }}</option>
    </select>
    <button (click)="onSearchClick()" [disabled]="searchForm.invalid">Search</button>

    <div class="error-hint">
      <small *ngIf="name.invalid && name.touched">
        The search query is required!
      </small>
      <small *ngIf="search.invalid && search.touched">
        Please, select one of the search systems!
      </small>
    </div>

  </form>
</div>

<div *ngIf="appError" class="app-error">
  {{appError}}
  <button (click)="appError=null">Hide this message</button>
</div>
