.search{
  max-width:1024px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 2rem;
  border-radius: 1em;

}

form{
  border: none!important;
  display: flex;
  flex-direction: row;
}

input[type=search]{
  display: flex;
  margin-right: auto;
  /*width: auto;*/
  flex: 1;
}

select{
  margin: 0 1em;
}


.ng-invalid{
  border: 1px solid red;
}
